input[name=tabs]:checked+label {
    font-weight: bolder;
    border: solid 1px #fff;
}

input[name=tabs] {
    display: none;
}

input[name=tabs]+label {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 45px;
    padding-right: 45px;
    background: red;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    color: white;
}

.tab-content {
    display: none;
}

.center {
    margin: auto;
    width: 80%;
    height: 90%;
    padding: 40px;
    margin-bottom: 50px;
    box-sizing: border-box;
    background-color: #f5f3f3;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
}

@media (max-width: 1024px) {
    .gallery-area .owl-controls {
        position: relative;
        text-align: center;
        left: 0;
        top: 20px;
    }
    .gallery-area .owl-controls .owl-prev,
    .gallery-area .owl-controls .owl-next {
        display: inline-block;
    }
}

#tab1:checked~#tab-content1,
#tab2:checked~#tab-content2,
#tab3:checked~#tab-content3,
#tab4:checked~#tab-content4,
#tab5:checked~#tab-content5 {
    display: block;
}

.mb-10 {
    margin-bottom: 10px;
}

.menuPic {
    width: 210px;
    height: 250px;
}